<main>

  <section class="mugshot" itemscope  itemtype="http://schema.org/Person">

    <meta itemprop="url" content="<%= mugshot_url(@mugshot) %>" />

    <div class="mugshot-photos">

      <%= render 'photo' %>

      <div class="mugshot-modal">

        <%= link_to "Unpublish", {controller: 'mugshots', action: 'modal', mugshot_id: @mugshot.id}, remote: true, class: 'modal-toggle' %>

      </div>

      <%= render '/partials/admin_tools', locals: {mugshot: @mugshot} %>

    </div>

    <div class="mugshot-info">

      <h1 class="mugshot-info-item mod-name" itemprop="name"><%= @mugshot.name.downcase %></h1>

      <div class="mugshot-info-item mod-county"><strong>Arrest Location:</strong> <span class="capitalize"><%= @county.name %> county</span></div>

      <div class="mugshot-info-item mod-booking-time"><strong>Arrest Date</strong> <%= @mugshot.booking_time %></div>

      <h2>Charges</h2>

      <ul>

        <% @mugshot.charges.each do |charge| %>

          <li><%= charge.charge %></li>

        <% end %>

      </ul>

      <p itemprop="description">

        <span class="capitalize"><strong>Description: </strong><%= @mugshot.name.capitalize   %></span> was arrested on and at <%= @mugshot.booking_time %> in <%= @county.name.capitalize %> County.

      </p>

      <div><%= link_to 'Previous', state_county_mugshot_path(@state, @county, @mugshot.previous) if @mugshot.previous%> | <%= link_to 'Next', state_county_mugshot_path(@state, @county, @mugshot.next) if @mugshot.next%></div>

    </div>

  </section>

  <% if @mugshots.count > 1 %>

    <hr />

    <section>

      <h3>More Mugshots of <%= @mugshot.name %></h2>

      <div class="mugshots">

        <%= render 'mugshots' %>

      </dv>

    </section>

  <% end %>

</main>
