<!DOCTYPE html>
<html>
  <head>
    <%# start meta title %>
      <title>
        <%# if the title var exisits %>
        <% if @title %>
          <%= @title %>
        <% else %>
          Local Mugshots
        <% end %>
      </title>
    <%# end meta title %>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="<% if @description %><%= @description %><% else %>Local Mugshots<% end %>" />
    <link rel="canonical" href="<%= @canonical_url %>" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%# start analytics code %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-90711142-1', 'auto');
        ga('send', 'pageview');
      </script>
    <%# end analytics code %>
  </head>
  <body>
    <header>
      <nav>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Ada County', state_county_path("idaho", "ada") %> |
        <%= link_to 'Canyon County', state_county_path("idaho", "canyon") %> |
        <%= link_to 'Horry County', state_county_path("south-carolina", "horry") %>
        <% if user_signed_in? %>
         | <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% end %>
      </nav>
    </header>
    <%= yield %>
    <footer class="footer">
    </footer>
  </body>
</html>
